In [43]:
import importlib

import countries_table
import total_energy
import energy_type

importlib.reload(countries_table)
importlib.reload(total_energy)
importlib.reload(energy_type)

In [39]:
total_energy.sayHi()

Hola estoy en el archivo de funciones

In [45]:
energy_type.load_csv()

,Country,Year,Renewable_Energy_Share__%,Fossil_Fuel_Dependency__%,Total_Energy_Consumption__TWh
0,Canada,2018,13.70,70.47,9525.38
1,Germany,2020,33.63,41.95,7922.08
2,Russia,2002,10.82,39.32,6630.01
3,Brazil,2010,73.24,16.71,8580.19
4,Canada,2006,73.60,74.86,848.88
...,...,...,...,...,...
9995,Canada,2017,14.87,70.25,9786.50
9996,UK,2011,89.00,16.55,7200.88
9997,India,2011,46.65,68.06,2579.82
9998,UK,2020,43.43,68.57,5950.39
9999,Brazil,2018,89.62,49.97,5387.71